<div class="flex justify-evenly py-3">

    <a href="#" class="block max-w-xs p-6 transition bg-[#00332E] border border-gray-200 rounded-lg shadow hover:bg-[#7E7E7E]">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#8FFF00]">What do I do?</h5>
        <p class="font-normal text-normal">I am a back-end developer specializing in managing data, overseeing its storage, and handling it through the application of logic and data structures.</p>
    </a>
    <a href="#" class="block max-w-xs p-6 transition bg-[#00332E] border border-gray-200 rounded-lg shadow hover:bg-[#7E7E7E]">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#8FFF00]">What do I enjoy?</h5>
        <p class="font-normal text-normal">I am passionate about developing projects, implementing the best practices to grow as a leader in the world of software development.</p>
    </a>
</div>
<div class="flex justify-evenly py-3">

    <a href="#" class="block max-w-xs p-6 transition bg-[#00332E] border border-gray-200 rounded-lg shadow hover:bg-[#7E7E7E]">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#8FFF00]">What I'm currently doing?</h5>
        <p class="font-normal text-normal">I am currently leading several projects at GeshK, a collective founded by myself and a group of friends, dedicated to developing expansive and diverse projects.</p>
    </a>
    <a href="#" class="block max-w-xs p-6 transition bg-[#00332E] border border-gray-200 rounded-lg shadow hover:bg-[#7E7E7E]">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#8FFF00]">How Do I Enhance Software Innovation?</h5>
        <p class="font-normal text-normal">As a passionate back-end developer, I excel in orchestrating data management, optimizing storage solutions, and implementing efficient logic and data structures.</p>
    </a>
</div>
    