---
import LinkedInIcon from '../Icons/LinkedIn.astro'
import GitHubIcon from '../Icons/GitHub.astro'
import MailIcon from '../Icons/Mail.astro'
---
<footer class="container mx-auto max-w-screen-xl absolute xl:fixed inset-x-0 flex flex-row-reverse xl:flex-row justify-between bottom-0 mb-10 z-10 xl:z-0">
  <section>
    <div class="flex sm:flex-col w-[60px] items-center justify-end gap-5">
      <div><a href="https://www.linkedin.com/in/giovanny-jované-ab875a291/" target="_blank"><LinkedInIcon /></a></div>
      <div><a href="https://github.com/Gi0Gio" target="_blank"><GitHubIcon /></a></div>
      <div><a href="https://gmail.com" target="_blank"><MailIcon /></a></div>
    </div>
  </section>
  <div>
    <a href="https://gmail.com" target="_blank" role="link" class="relative items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium text-foreground no-underline hover:opacity-80 active:opacity-disabled transition-opacity hidden xl:block [writing-mode:vertical-lr]">personalgio02@gmail.com</a> 
  </div>
</footer>