---
import ArrowDown from '../Icons/ArrowDown.astro'
import World from '../Icons/World.astro'
---
<style>
    .header {
        position: sticky;
        top: 0;
        background-size: cover;
        backdrop-filter: blur(10px);
        z-index: 1000;
        /* Add any other styles you need */
    }

    @media (max-width: 768px) {
        .header {
            flex-direction: column;
            align-items: center;
        }

        .nav-link {
            margin-top: 10px;
        }
    }
</style>

<header class="header flex justify-between items-center py-5 mx-auto w-full xl:w-[1300px]">
    <img class="w-20 h-20" src="https://github.com/Gi0Gio/ChemChy/blob/main/giojoDevLogo.png?raw=true" alt="giojodev photo" />

    <nav class="flex flex-row gap-x-10">
        <a class="flex flex-row gap-x-2 font-bold text-lg nav-link" href="#"><p style="color: #8FFF00;">01.</p>Home</a>
        <a class="flex flex-row gap-x-2 font-bold text-lg nav-link" href="#experience"><p style="color: #8FFF00;">02.</p>Experience</a>
        <a class="flex flex-row gap-x-2 font-bold text-lg nav-link" href="#projects"><p style="color: #8FFF00;">02.</p>Projects</a>
        <a class="flex flex-row gap-x-2 font-bold text-lg nav-link" href="#aboutme"><p style="color: #8FFF00;">03.</p>About me</a>
        <a class="flex flex-row gap-x-2 font-bold text-lg nav-link" href="#contact"><p style="color: #8FFF00;">04.</p>Contact me</a>
    </nav>
    <div class="flex items-center">
        <ArrowDown />
        <World />
    </div>
</header>
